/* .title{
    margin: 0;
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%,5% 100%, 0 80%);
}

.title > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    z-index: -1;
}

.latestBlogs{
    background-image: linear-gradient(#FAC406,#FA7B06,#9e12ef);
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 3vw;
}

.BlogCard{
    background-color: rgb(0,0,0,0.12);
    color: aliceblue;
}


@media (max-width: 768px) {
    .title{
        height: 30vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%,10% 100%, 0 80%);
    }
    .title > h1{
        font-size: 50px;
    }
} */

.section-title{
    width: 100%;
    /* aspect-ratio: 1/1; */
    background-image: url("../assets/BgImage.png");
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    top: 0%;
    position: absolute;
    overflow-x: hidden;
    height: fit-content;
    padding-bottom: 2%;
}

.section-title > img {
    width: 100vw;
    transform: scale(0.7);
}

.features{
    display: flex;
    justify-content: flex-end;
    height: fit-content;
}

.feature{
    font-size: 0.8rem;
    width: 14rem;
    height: fit-content;
}

h6{
    font-size: larger;
}


.f1{
    padding: 0 1.5em;
}

.f2{
    border-left: 4px solid white;
    padding: 0 1.5em;
}

.line{
    transform: scaleY(0.5);
    height: min-content;
}

@media screen and (max-width: 600px){

    .section-title{
        /* background-size: contain; */
        position: unset;
        padding-bottom: 10%;
    }

    
    .section-title > img {
        transform: scale(0.8);
        position: relative;
        top: 10%;
    }

    .features{
        display: none;
    }


    /* .features{
        background-color: #070C20;
        margin-top: 6%;
        padding-top: 5%;
        flex-direction: column;
        align-items: center;
        top: 30%;
        position: relative;
    }
    
    .f1{
        padding-bottom: 2%;
    }
    
    .f2{
        border-left: none;
        border-top: 4px solid white;
        padding: 1em 0;
        align-content: center;
    }
    
    .feature{
        text-align: center;
    } */

}