.navbar > * {
    color: aqua !important;
}

/* .container-fluid a {
    color: #FAC406 !important;
} */

.navbar{
    /* top: 0%;
    position: fixed;
    z-index: 1; */
    width: -webkit-fill-available;
}