/* .mainBody{
    background-image: url('../assets/BgImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
} */

/* .search-section{
    background-image: url('../assets/BgImage2.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
} */

.mainBody > img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    /* filter: blur(5px); */
}


#section-heading{
    text-transform: uppercase;
    font-style: italic;
    margin: 20px;
    width: -webkit-fill-available !important;
    /* padding-left: 3vw; */
}
#section-heading::after{
    content: '';
    display: block;
    /* width: 120% !important; */
    height: 3px !important;
    background: white !important;
    /* background: #FAC404; */
    margin-top: 10px;
    /* transform: translateX(-3vh); */
    
}

.searchBar > input {
    background-color: transparent;
    font-size: 1.1em;
    border: 1px solid white;
    margin: 10px;
}
.searchBar > button {
    /* background-color: #FAC406;
    color: #04113D; */
    /* background-color: #DA3D8D;
    color: white; */
    padding: 4px 6px;
    margin: 10px;
    width: max-content;
    border-radius: 4px;

}

#no-response{
    padding-left: 6vw;
}
#no-response > h4{
    font-weight: 400 !important;
}

.section-sub-heading > h3{
    font-weight: 300;
    padding-left: 3vw;
    /* margin: 5%; */
    margin-bottom: 2%;
    margin-left: 0;
}
.section-sub-heading > h3::after{
    content: '';
    display: block;
    width: 35%;
    height: 2px;
    background: #ffffff;
    margin-top: 4px;
    transform: translateX(-3vh);
}


.blog{
    overflow: hidden;
    background: #04113D;
    /* background: #d9d9d92d; */
    backdrop-filter: blur(10px);
    border-radius: 6px;
    padding: 2%;
    margin: 2%;
}
.rect{
    /* display: none; */
    position: absolute;
    width: 100vw;
    height: 100px;
    background: #FAC406;
    z-index: -1;
    transform: rotate(45deg);
}

@keyframes moveRight {
    0% {
        /* transform: rotate(45deg) translateY(27vw); */
        transform: rotate(45deg) translateY(500%);
    }
    100% {
        /* transform: rotate(45deg) translateY(-8vw); */
        transform: rotate(45deg) translateY(0%);
    }
}


.blog:hover > .rect {
    animation: moveRight 1s forwards;
}


.blog:hover{
    scale: 1.021;
    transition: 0.3s;
}

.rcet:hover{
    background-color: aqua;
    transition: 1s;
}

.r-2{
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.r-2 > #date{
    margin-left: auto;
}

.search-head{
    display: flex;
    align-content: baseline;
    flex-direction: column;
}
.searchBar{
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .searchBar > input{
    margin-left: 5%;
} */

.blogs-list{
    display: flex;
    flex-direction: column;
}

.blog > a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.blog > a > h5{
    font-weight: 400;
}





.search-body{
    margin: 0 5%;
}


@media screen and (max-width: 600px){

    .mainBody{
        width: -webkit-fill-available;
    }

    .search-head{
        align-self: flex-start;
    }

    .search-head > #section-heading{
        font-size: 1.5em;
        align-self: flex-start;
        width: 80vw;
    }
    .search-head > #section-heading::after{
        width: 100% !important;
    }
    .searchBar > input{
        margin: 0 !important;
    };

    .blog > a > h3{
        font-size: 1.25em;
        margin-right: 50%;
    }
    .blog > a > h5{
        font-weight: 400;
    }

}