@font-face {
    font-family: '7SegmentDisplay';
    src: url('../assets/DSEG14Modern-Italic.ttf');
}


.UserSpaceBody{
    background-image: url('../assets/BgImage.png');
    background-size: cover;
    background-attachment: fixed;
}

.UserSpaceLayout{
    display: flex;
    justify-content: space-evenly;
    overflow-x: hidden;
}

.column-1{
    width: 75%;
    display: flex;
    flex-direction: column;
}

.e-1{
    clip-path: polygon(0 20%, 100% 20%, 100% 80%, 0 80%);
    margin: -15px 26px;
    margin-top: -6%;
}

.e-2{
    margin-top: -2% !important;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5%;
    margin-bottom: 1% !important;
    padding-bottom: 1% !important;
    gap: 20px;
}

.greetings{
    margin: 2.5% 0;
    padding-right: 6%;
    margin-bottom: 0;
    /* border-right: 4px solid white; */
}

.line{
    width: 2px;
    height: 130%;
    border: 2px solid white;
}

.head-buttons{
    margin: 4px;
    margin-right: 5%;
}

.head-buttons > button{
    background-color: #DA3D8D;
    color: white;
    padding: 6%;
    margin: 6%;
    width: max-content;
    border-radius: 4px;

}
.head-buttons > button:hover{
    background-color: #04113D;
    /* color: #DA3D8D; */
    color: white;
    border: 1px solid #DA3D8D;
}

/* .e-2 > button {
    height: 2em;
} */


.e-2, .e-3, .e-4, .e-5{
    margin: 2.5%;
    background: #d9d9d92d;
    border-radius: 6px;
    padding: 2%;
    padding-top: 0%;
    /* background-color: rgb(0,0,0,0.12); */
    backdrop-filter: blur(10px);
}

.column-2{
    width: 25%;
    max-width: 300px;
    gap: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.e-4{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* .day-time > *, .date > *{
    margin: 0;
} */

.day-time{
    /* flex-wrap: wrap; */
    padding-top: 10px;
}
#day{
    justify-content: space-around;
    margin-left: 6px;
}
#time{
    margin-right: 10px;
}
#day,.date{
    margin-top: auto;
    margin-bottom: 13px;
    font-style: italic;
    text-transform: uppercase;
}
.date > *{
    margin-bottom: 2px;
}
.date > .line{
    height: 130%;
}
.date{
    background-color: #04113D;
    border-radius: 4px;
}
#time{
    font-family: '7SegmentDisplay';
}
.date > .line{
    border: 0;
    border-left: 1px solid white;
}

.day-time, .date{
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    justify-content: space-around;
}








/* .UserSpaceBody{
    background-image: url('../assets/BgImage.png');
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0,0,0,0.12);
    height: auto;
}

.second-section{
    display: flex;
    overflow-x: hidden;
}

.recentBlogsBody{
    width: 75%;
    background: rgb(0, 0, 0, 0.3);
    margin: 2.5%;
    border-radius: 4px;
    margin-bottom: 5%;
}

.headingElement{
    background-image: linear-gradient(#FAC404,#FA7B06);
    margin: 10vh;
    margin-top: 10vh;
    border-radius: 10px;
    height: 20vh;
    display: flex;
}

.headingElement > h3{
    color: black;
    margin: 10px 10px;
}

.head-buttons{
    margin-left: auto;
}

.writeBlog-btn{
    margin: 8px;
    position: sticky;
    top: 100%;
    margin-left: auto;
    background-color: #303030;
    color: #FAC406;
    border-radius: 4px;
    font-size: 1.25em;
}

#section-heading{
    margin: 10px;
    padding-left: 7vh;
}

#section-heading::after{
    content: '';
    display: block;
    width: 95%;
    height: 2px;
    background: #FAC404;
    margin-top: 10px;
    transform: translateX(-2vh);
}

.BlogCardUser{
    color: #FAC404;
    background-color: rgb(0,0,0,0.12);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dated{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons-utility > button {
    padding: 0px;
    transform: scale(0.7);
}

.buttons-utility{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.Analytics{
    width: 30%;
    height: fit-content;
    background: rgb(0, 0, 0, 0.3);
    margin: 2.5%;
    padding: 2%;
    padding-top: 0%;
    border-radius: 4px;
}

.row{
    font-size: 1.5em;
}

.analyticsCard{
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
}



@media screen and (max-width: 600px){
    .headingElement{
        margin: 5vh;
        margin-top: 3vh;
    }

    .BlogCardUser{
        padding: 0px !important;
        display: flex;
        flex-direction: column;
    }

    .BlogCardUser > h3{
        margin-right: auto;
        padding: 15px;
        padding-bottom: 2px
    }

    #section-heading{
        padding: 5%;
    }

    .dated{
        padding-left: 15px;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        margin-right: auto;
    }

    #section-heading::after{
        content: '';
        display: block;
        width: 110%;
        height: 2px;
        background: #FAC404;
        margin-top: 10px;
        transform: translateX(-2vh);
    }

    .second-section{
        display: flex;
        flex-direction: column-reverse;
        overflow-x: hidden;
    }

    .recentBlogsBody{
        width: auto;
        margin: 5vh;
    }

    .Analytics{
        margin: 5vh;
        margin-top: 0px;
        margin-bottom: 10px;
        width: auto;
    }


    .UserSpaceBody{
        height: auto;
    }
} */